.features-list {
  display: flex;
  gap: 24px;
}

.features-item {
  flex-basis: calc((100% - 72px) / 4);
}

.features-item-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 112px;
  background-color: var(--cloud);
  border: 1px solid var(--light-slate);
  border-radius: 4px;
}

.features-item-title {
  margin: 8px 0;
}
